@page "/aniversarytable"
@inject HttpClient Http

<style>
    body {
        background-image: url('images/sfondoadmin.png');
        background-size: cover;
        background-position: center;
        background-size: 100% auto; /* si adatta in larghezza, mantenendo proporzioni */
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed; /* effetto scorrimento parallax */
        background-color: black; /* per riempire eventuali bordi */
        min-height: 100vh; /* copre almeno l'altezza visibile */
    }

    .title-feedbacks {
        text-align: center;
        color: darkblue;
        font-family: 'Cinzel', serif;
        font-weight: 700;
        font-size: 3rem; /* circa 48px */
        text-transform: uppercase;
        letter-spacing: 4px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        margin: 2rem 0;
    }

    .not-auth {
        text-align: center;
        color: ghostwhite;
        font-family: 'Cinzel', serif;
        font-weight: 80;
        font-size: 3rem; /* circa 48px */
        text-transform: uppercase;
        letter-spacing: 4px;
    }
</style>

@if (ApplicationManager.IsLoggedIn())
{
    <p class="title-feedbacks">Selected Monsters from Users & Feedbacks</p>

    <p style="text-align: center; color: white;">
       Hier you can see all monster what was voted
    </p>

    @if (ClasificationList == null)
    {
        <p style="color: white;"><em>Loading please...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th style="color: yellow;">Monster</th>
                    <th style="color: yellow;">Feedback</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in ClasificationList)
                {
                    <tr>
                        <td style="color: lightgrey;">@forecast.Monster</td>
                        <td style="color: lightgrey;">@forecast.Feedback</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (dragonList == null)
    {
        <p style="color: white;"><em>Loading please...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th style="color: yellow;">Name</th>
                    <th style="color: yellow;">Element</th>
                    <th style="color: yellow;">Defence</th>
                    <th style="color: yellow;">Class</th>
                    <th style="color: yellow;">Map</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in dragonList)
                {
                    <tr>
                        <td style="color: lightgrey;">@forecast.Name</td>
                        <td style="color: lightgrey;">@forecast.Element</td>
                        <td style="color: lightgrey;">@forecast.Defence</td>
                        <td style="color: lightgrey;">@forecast.Class</td>
                        <td style="color: lightgrey;">@forecast.Map</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <div class="not-auth">
        <p style="text-align: center; color: white;">
            Sorry you are not authorized
        </p>
    </div>
}
